# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional yarn cache directory
.yarn

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

/.vs
.DS_Store
*.sublime*
.idea
debug.log
package-lock.json
.vscode/settings.json
*/.vscode/
TODO.md

# rust compiled folders
target

# lock for libs
/Cargo.lock
/tooling/bench/tests/Cargo.lock
/yarn.lock
